.img-box{
	width: 135px;
    height: 135px;
    margin-left: 0px;
    margin-right: 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.img-box img{
	width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;

}

#main_row{
	margin-top: 0px;
	margin-left: 0;
	margin-right: 0;
}
.stylist_name{
	font-size: 25px;
	margin-top: 5%;
	padding-left: 0;
}

#row_1{
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0;
}

#row_2{
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0;
}

.stylist_experience{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.stylist_Qualification{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.stylist_price{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.stylist_skill{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.stylist_city{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.stylist_contact_info{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}

.contact{
	padding-left: 40px;
	text-align: right;
}

.stylist_experience_asw{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.stylist_Qualification_asw{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.stylist_price_asw{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.stylist_skill_asw{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

.stylist_city_asw{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}

#contact_row{
	margin-top: 0;
}

.profile_img{
	margin-left: 90px;
}

#gallery_img{
	width:100%;
	height: 100%;
}
.gallery{
	margin-right: 50px;
	background-color: grey;
	border-radius: 20px;
	padding: 20px;
}


.gallery_heading{
	margin-top: 0;
	margin-bottom: 30px;
	color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
}

.gallery_heading::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #8fbc54;
    left: 0;
    right: 0;
    bottom: -10px;
}

@media (max-width: 768px) {
	.stylist_experience{
		text-align: left;
	}
	.stylist_Qualification{
		text-align: left;
	}
	.stylist_price{
		text-align: left;
	}
	.stylist_skill{
		text-align: left;
	}
	.stylist_city{
		text-align: left;
	}
	.stylist_contact_info{
		text-align: left;
	}
	.contact{
		text-align: left;
		padding-left: 0px;
	}
	.profile_img{
		margin-left: 0px;
	}
}
@media (min-width: 992px) {
	.profile_img{
		margin-left: 0px;
	}
}
@media (min-width: 768px){
	.profile_img{
		margin-left: 0px;
	}
}